<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Harmonia</title>
    <link rel="stylesheet" href="~/Scripts/css/layout.css" />
</head>
<body>
@Html.Partial("_Header")
    
<main role="main" class="container min-vh-100 mt-4">
    @RenderBody()
</main>


<script src="~/Scripts/js/site.js"></script>
    
@RenderSection("Scripts", required: false)
</body>
</html>