@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="info-page">
    <h1>About Us</h1>
    <p>
        We are passionate about music and technology, and our mission is to turn listening into a personalized and accessible for everyone. Our platform blends high-quality audio with the flexibility to purchase licenses for your favorite tracks, putting the power of choice in your hands.
        
    </p>
    <p> From the songs that define your moments to the tools needed to create your own music, we’re building a space where a passion for sound becomes accessible to everyone. Whether you’re a listener, creator, or enthusiast, here you’ll find music that speaks to you.</p>
    <p>
        Because every note matters.    </p>
</section>
<link rel="stylesheet" href="~/Scripts/css/static_pages.css">